.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0.5rem;
}
.user:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.circle-online {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: rgb(15, 233, 62);
}
.circle-offline {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: red;
}
