.notification {
  position: fixed;
  background-color: #fff;
  border-radius: 6px;
  padding: 1rem;
  width: 360px;
  margin: 1rem;
  top: 0;
  right: 0;
  transform: translate(-16px, 50px);
  height: 90vh;
  overflow: auto;
}
.notification-main {
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
}
.notification-main:hover {
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
