.received-chat {
  display: flex;
  margin: 1rem;
}

.received-chat img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
.received-chat-msg {
  margin: 0 1rem;
}
.received-chat-msg p {
  background: #efefef none repeat scroll 0 0;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 1rem;
}
.time {
  color: #777;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
