.overlay {
  background: rgba(243, 243, 244, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  overscroll-behavior-y: none;
  overflow: hidden;
  z-index: 99;
}
.status-box {
  width: 500px;
  height: auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 6px;
  position: fixed;
  top: 10%;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  margin: 1rem 0;
}
.title-create {
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-left: 35%;
}
.title button {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
}
.title button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.fill-status {
  border: none;
  font-size: 16px;
  padding: 1rem;
  width: 100%;
  height: 200px;
  outline: none;
}
.icon-smile {
  color: #999;
  width: 24px !important;
  height: 24px;
  position: absolute;
  bottom: 0.5rem;
  cursor: pointer;
  right: 2rem;
}
.emoji-group {
  position: relative;
}
.emojiPanel {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  top: 15%;
  height: auto;
}
.support {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  box-shadow: 0.4px 0.4px 12px rgba(0, 0, 0, 0.12);
  justify-content: center;
}
.icon-sp {
  display: flex;
}
.support span {
  margin-right: auto;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  padding: 1.5rem;
}
.btn-post {
  width: 100%;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: #1877f2;
  padding: 1rem;
  margin: 2rem 0;
  outline: none;
}
.btn-postenable {
  width: 100%;
  color: #888;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: #dadcde;
  padding: 1rem;
  margin: 2rem 0;
  outline: none;
}
.btn-post:hover {
  background: rgb(52, 66, 161);
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.upload-btn-wrapper input:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
