.user-comment {
  display: flex;
  width: 30vw;
  margin: 1rem 0;
}
.image-usercomment {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  box-shadow: 0.4px 0.4px 12px rgba(0, 0, 0, 0.12);
}
.group-comment {
  margin: 0 1rem;
  background-color: rgba(201, 204, 209, 0.6);
  border-radius: 20px;
  padding: 1rem;
}
.name-comment {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  line-height: 1;
}
.text-comment {
  font-size: 14px;
}
.status-replycomment {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}
.status-replycomment span {
  font-weight: bold;
  color: rgba(101, 103, 107, 1);
  cursor: pointer;
  margin: 0 1rem 0 0;
  text-decoration: rgba(0, 0, 0, 0.12);
  min-width: 0;
  min-height: 0;
  font-size: 12px;
}
.status-replycomment span:hover {
}
