.right-group {
  flex-basis: 360px;
  right: 0;
  margin: 0 1rem;
  overflow: auto;
  height: 100vh;
  position: sticky;
  top: 0;
}
.right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-contact {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: rgba(101, 103, 107, 1);
}
.right-icon {
  margin: 0 1rem;
  justify-content: space-between;
  width: 28px !important;
  height: 28px;
  color: rgba(101, 103, 107, 1);
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 100%;
}
.right-icon:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.user-box {
  cursor: pointer;
}
/*chat-box*/
