.time {
  color: #777;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.sent-chat {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}
.sent-chat img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
.sent-chat-msg {
  margin: 0 1rem;
}
.sent-chat-msg p {
  background: #007bff none repeat scroll 0 0;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 1rem;
}
