.chat-box {
  position: fixed;
  background-color: #fff;
  border-radius: 6px;
  padding: 0.5rem;
  width: 328px;
  right: 0;
  bottom: 0;
  margin: 1rem;
  height: 60vh;
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-iconheader {
  width: 24px !important;
  height: 24px;
  color: #066cd2;
  margin: 0 1rem;
  cursor: pointer;
}
.chat-iconheader:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.chat-footer {
  display: flex;
  justify-content: space-between;
  height: 10%;
  align-items: center;
}

.msg-icons {
  width: 20px !important;
  height: 20px;
  margin: 0 0.2rem;
  cursor: pointer;
}
.msg-input input {
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 0.5rem;
  font-size: 14px;
}
.msg-like {
  width: 20px !important;
  height: 20px;
  color: #007bff;
}
.emojiPanel-chatbox {
  position: absolute;
  top: 0;
  margin-top: 20%;
  height: auto;
}
