.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 60px;
  flex-direction: row;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0.4px 0.4px 12px rgba(0, 0, 0, 0.12);
  border-bottom: rgba(0, 0, 0, 0.12);
}

.iconFacebook {
  color: #0c88ef;
  font-size: 4.5rem;
  height: auto;
  cursor: pointer;
}
.search {
  position: absolute;
  font-size: 2rem;
  color: #999;
  float: left;
  top: 1rem;
  left: 1rem;
}
.search-group {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
.search-input {
  max-height: 50px;
  position: relative;
  margin: 0 1rem;
}
.search-group input {
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  border: none;
  border-color: rgb(195, 195, 195);
  background-color: rgba(240, 242, 245, 1);
  padding-left: 3rem;
  height: 46px;
  width: auto;
  color: #333;
}
.navbar-main {
  display: flex;
  align-items: center;
  height: auto;
}
.navbar-main a {
  background-color: #333;
  margin: 1rem;
  align-items: stretch;
}
.icon {
  height: 100%;
}
.icon-center {
  align-items: center;
  padding-left: 0;
  margin: 0.5rem 0.1rem;
  padding: 1rem;
  cursor: pointer;
  position: relative;
}
.icon-center span {
  position: absolute;
  bottom: -4.5rem;
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 4px;
  justify-content: center;
  right: 0;
  right: 3.5rem;
  text-shadow: rgba(107, 105, 105, 0.12);
  opacity: 0.8;
  width: auto;
}
.icon-center:hover {
  background-color: rgba(75, 74, 74, 0.12);
  border-radius: 2px;
  span {
    visibility: visible;
  }
}
.Icon-option {
  color: #333;
  height: 28px;
  width: 28px !important;
  margin: 0 4rem;
}
.navbar-main a:hover {
  background-color: rosybrown;
}
.icon-home {
  color: #1877f2;
}
.active {
  border-bottom: 4px solid #1877f2;
}
.navbar-profile {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
}

.Icon-profile {
  color: #333;
  width: 20px !important;
  height: 20px;
  margin: 1rem;
}
.Icon-activeprofile {
  color: rgba(24, 119, 242, 1);
  width: 20px !important;
  height: 20px;
  margin: 1rem;
  background-color: rgba(231, 243, 255, 1);
}
.icon-right {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #e4e6eb;
  margin: 0 0.5rem;
  position: relative;
}
.icon-right:hover {
  background-color: 0.4px 0.4px 12px rgba(0, 0, 0, 0.12);
  opacity: 0.8;
  cursor: pointer;
  position: relative;
  .tooltiptext {
    visibility: visible;
  }
}

.tooltiptext {
  visibility: hidden;
  display: inline-block;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
  top: 5rem;
  left: 0;
  margin-left: -0.5rem;
  /* Position the tooltip text - see examples below! */
  position: static;
  user-select: none;
  z-index: 0;
}
.alert-number {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  width: 20px;
  height: 20px;
  right: -0.5rem;
  top: -0.6rem;
  text-align: center;
  user-select: none;
}
.account {
  background-color: #fff;
  width: 10vw;
  height: 5vw;
  border-radius: 10px;
  position: fixed;
  right: 0;
  visibility: hidden;
  z-index: 1;
  top: 8%;
}
.account a {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  line-height: 1;
  padding: 1rem 0 1rem 0.5rem;
  cursor: pointer;
}
.account a:hover {
  color: rgb(31, 240, 125);
}
.signout {
  margin: 1rem 0;
  padding: 0 1rem;
  border-radius: 10px;
}
.signout:hover {
  background-color: rgba(240, 242, 245, 1);
}
