.loading-icon {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  visibility: hidden;
}
.loading-icon img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: 0.4px 0.4px 12px rgba(0, 0, 0, 0.12);
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10%;
}
