.stuff {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 1rem 0;
  padding: 0.5rem;
  user-select: none;
}
.stuff:hover {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.icon-stuff {
  width: 36px;
  height: 36px;
}
.textProfile {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 1rem;
}
