.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.12);
  width: 100%;
}
.right {
  width: 36vw;
  margin: 0 1rem;
}
.right h1 {
  color: #1877f2;
  font-size: 60px;
  font-weight: bold;
  user-select: none;
}
.right h3 {
  color: #333;
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0.4px 0.4px 12px rgba(0, 0, 0, 0.12);
}
.form-login {
  background-color: #fff;
  padding: 1rem;
  display: inline;
  box-shadow: 0.4px 0.4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 25vw;
}
.input-user {
  margin: 1rem;
}
.input-password {
  margin: 1rem;
}
.form-login input {
  outline: none;
  border: none;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 16px;
  line-height: 1;
}
.btn-login {
  display: flex;
  justify-content: center;
}
.btn-login button {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  background-color: #1877f2;
  font-weight: bold;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  outline: none;
}
.btn-register {
  align-items: center;
  justify-content: center;
  display: flex;
}
.btn-register a {
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  background-color: #42b72a;
  font-weight: bold;
  border-radius: 6px;
  width: 10vw;
  padding: 0.5rem;
  margin: 1rem 0;
}

.text-qtk {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.form-login a {
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition-delay: none;
}
.btn-1 {
  font-weight: 100;
  transition: all 0.25s;
}
.btn-1:hover {
  font-weight: 900;
  letter-spacing: 2px;
  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
.btn-1 .color-blue:hover {
  color: blue;
  rect {
    stroke: blue;
  }
}
.btn-1 .color-green:hover {
  color: green;
  rect {
    stroke: green;
  }
}
