.left-group {
  flex-basis: 360px;
  margin: 2rem;
  height: 600px;
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.left-group:hover {
  .scroll {
    visibility: visible;
  }
}
.scroll {
  height: 622px;
  overflow-y: scroll;
  visibility: hidden;
  position: absolute;
  right: 0;
  transition: all 0.5s ease-in-out;
}
.scroll::-webkit-scrollbar {
  width: 1rem;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
